@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.headerContainer {
  min-height: 80px;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 400px) {
    justify-content: center;
  }

  .headerBlock {
    height: 80px;
    padding: 0 30px;
    @include flex(row, flex-end, center, nowrap);
    opacity: 0.9;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
  }
}
