@import "./../../../common/styles/sass/variables";
@import "./../../../common/styles/sass/mixins";

.button {
  position: relative;
  display: block;
  padding: 7px 20px;
  margin: 15px auto;
  max-width: 170px;
  width: 100%;
  @include text($TextFontFamily, 14px, 1.2);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  transition: all 0.4s ease-in-out 0s;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 22;

  &::after {
    margin: 0 auto;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10px;
    width: 50%;
    background: $primaryColor;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    color: white;
    text-decoration: none;

    &::after {
      height: 110%;
      width: 100%;
    }
  }
}
