@import "./variables";

@mixin text($fontFamile, $fontSize, $lineHeight) {
  font-family: $fontFamile;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin bgSettings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
